@font-face {
    font-family: mp10;
    src: url(https://file.garden/ZeWhoxo9KEiz9dHt/PixelMplus10-Regular.ttf);
}

:root {
    --almostwhite: #fff8ff;
    --purple: #4d23cf;

    --fontsize: calc(0.7vw + 0.7vh);
}

body {
    margin: 0;
    image-rendering: pixelated;
}

#musicplayer{
    font-family: mp10; /* default font */
    box-sizing: border-box;
    color: var(--purple);
    display: flex;
    width:100%; /* width of the player - make it 100% if you want it to fill your container */
    padding:10px;
    display:flex;
    flex-direction: row;
    gap:15px;
}

.controls{
    display:flex; 
    flex-direction:column;
    gap: 5px;
}

.buttons{
    display:flex;
    justify-content:flex-start;
    font-size: var(--fontsize) !important; /* size of controls */
    width:100%;
    gap: 10em;
}

.track-name, .track-artist {
    display: inline;
}

.track-artist::after {
    content: " -" ;
}

.track-art {
    aspect-ratio: 1/1;
    background-size: cover;
}

.playpause-track, .prev-track, .next-track{
    color:var(--purple); /* color of buttons */
    font-size: 20px !important; /* size of buttons */
}

.volume-icon{
    font-size: 20px !important; /* size of volume icon */
    transform: rotate(180deg);
}

.seeking, .volume{
    display:flex;
    flex-direction:row;
    align-items:center;
    gap:5px;
}

.current-time::after {
    content: "/";
}

input[type=range]{
    -webkit-appearance:none; /* removes default appearance of the tracks */
    appearance: none;
    width:100%;
}

input[type=range]:focus{
    outline:none; /* removes outline around tracks when focusing */
}

input[type=range]::-webkit-slider-runnable-track{
    width:100%;
    height:2.5px; /* thickness of seeking track */
    background:var(--purple); /* color of seeking track */
}

input[type=range]::-webkit-slider-thumb{
    height:8px; /* height of seeking square */
    width:8px; /* width of seeking square */
    border-radius:0px; /* change to 5px if you want a circle seeker */
    background:var(--purple); /* color of seeker square */
    -webkit-appearance:none;
    margin-top:-3px; /* fixes the weird margin around the seeker square in chrome */
}

input[type=range]::-moz-range-track{
    width:100%;
    height:2px; /* thickness of seeking track */
    background:var(--purple); /* color of seeking track */
}

input[type=range]::-moz-range-thumb{
    height:8px; /* height of seeking square */
    width:8px; /* width of seeking square */
    border-radius:0px; /* change to 5px if you want a circle seeker */
    background:var(--purple); /* color of seeker square */
    border:none; /* removes weird border around seeker square in firefox */
}